html {
    height: 100%;
}

body {
    height: 100%;
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    background-color: #fff;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.div-main {
    border-bottom: 1px solid rgba(0, 0, 0, 0.211);
    display: flex;
}

.image {
    margin-top: 15px;
    margin-left: 15px;
}

.content {
    margin-left: 15px;
}

.name {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 0px;
}

.email {
    color: #919191;
    margin-top: 0;
}

.image > img {
    width: 80px;
    border-radius: 100px;
}

.div-main > content { 
    margin-left: 10px;
}

.action {
    margin: auto;
    visibility: hidden;
    width: 100%;
    text-align: center;
}

.action img {
    opacity: 0.3;
    padding: 5px;
}

.div-main:hover > .action {
    visibility: visible;
}

.div-main:hover {
    background-color: #d3d1d1;
}